*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1{
    font-size: 1.5rem;
}

i{
    font-size: 1.4rem;
    color: #fff;
    font-weight: lighter;
    

}
p,a{
    font-size: 0.9re;
}
hr{
    border: 1px solid gray;
    margin: 12px 0;
    width:15vw;
}
/* scrolling part */ 

/* copy from google */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background: #717171;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Header start */

#nav{
    border: 0px solid red;
    position: fixed;
    top: 0;left: 0;width: 100%;
    background-color: #202020 ;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    padding-right:50px;
}
#log{
    position: relative;
    height: 50px;width: 50px;
}
#log img{
    position: relative;
    height: 24px;
    margin-top: 26%;
    width: 40px;
    /* object-fit: cover; */
    
}
.logtxt{
    letter-spacing: -1.4px;
    color: #fff;
    font-size: 25px;
}
#logo{
    border: 0px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12%;
}
#logo i{
    margin-right:8%;
}
#search{
    display: flex;align-items: center;
    flex: 0 1 685px;
    margin-left: 40px;
}
/* #search form{
    position: relative;
    width: 100%;
} */
#search input{
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #121212;
    border: 1px solid gray;
    color: #fff;
    font-size: 1.2rem;
    padding-left: 10px;
}
.search{
    min-width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    outline: none;
    border: none;
}
.search:hover{
    border: none;
    outline: none;
}
.mic{
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
}
#bell{
    border: 0px solid teal;
    display: flex;
    align-items: center;
}
#bell i{
    font-size: 1.9rem;
    margin-left: 25px;
}

/* body starts here  side part*/
#container{
    display: flex;
    position: fixed;
    height: calc(100vh-60px);
    top: 60px;
    /* padding-left: 10px; */
    background-color: #181818;
}
.sidebar{
    border: 0px solid red;
    background-color: #212121;
    height: 90vh;
    padding-top: 8px;
    width: 25%;
    overflow-y:scroll;
    color:#fff;
    margin-left:0px;
    


}
.sidebar a{
    border: 0px solid red;
    padding: 10px 10px;
    width: 100%;
    height: 40px;
    color: #fff;
    text-decoration: none;
    margin-top: 0%;
    display: flex;
}
.sideitem{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* padding-left: 8%; */
    
}
.sideitem{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    /* line-height:px; */
}
.sideitem :hover {
    background-color: #4c4c4c;

} 
.sideitem i {
    margin-right: 24px;
    font-size: 23px;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    flex-wrap: wrap;

}
.collapse-sidebar{
    width: 6%;
}
.collapse-sidebar h4{
    font-size: 0px;
}
.more{
    font-size: .9rem;
    text-transform: uppercase;
    color: #aaa;
    margin-left:-20px;
}
/* body Bottom part */

#main{
    border: 0px solid blue;
    width: calc(100%-215px);
    margin-top: 0%;
    color: #212121;
}
.btn{
    width: 100%;
    overflow-x: scroll;
    background-color: #181818;
    display: flex;
    padding-left: 14px;
    border-top: rgba(255, 255,255, 0.1);
    border-bottom: rgba(255, 255,255, 0.1);
}
.btn::-webkit-scrollbar{
    height: 0;
}
#btnC{
    margin: 12px 6px;
    background-color: #373737;
    padding: 6px 12px;
    border: 1px #373737;
    border-radius: 16px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}
#btnC:hover{
    background-color: #4d4d4d;
}

/* body appending part */
#content{
    width:84%;
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    overflow-y:scroll;
    padding: 20px 25px;
    background-color: #181818;
    height: 90vh;
    /* transition: 0.6s; */
    /* width: calc(100vw-215px); */
}
/* .large-content{
    padding-left:20px;
} */
#content img{
    width:100%;
    height: fit-content;
}
#content>div{
    border: 0px solid green;
    padding:5px;
    position: relative;
    
}
#content h4{
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: normal;
}
#content h5{
    color: gray;
    line-height: 18px;
    font-size: 12px;
    letter-spacing: normal;
    margin-top: 1%;
}
/* responsive part start from here */
@media (max-width:1280px) {
    .sidebar {
        /* width: 20%; */
        overflow-x: hidden;
    }
    #container{
        width:80%;
    }
    #content {
        width:82.5%;
        grid-template-columns: repeat(3, 1fr);
    }
    #log img{
        position: relative;
        height: 24px;
        margin-top: 55%;
        width: 24px;
    }
    #search input{
        height: 40px;
        display: flex;
        align-items: center;
        width: 50%;
        background-color: #121212;
        border: 1px solid gray;
        color: #fff;
        font-size: 1.2rem;
        padding-left: 10px;
        margin-left: 13%;
    }
}
@media (max-width:600px) {
    #content {
        width: 39%;
        grid-template-columns: 1fr;
    }
    #content {
        grid-gap: 10px;
        padding: 10px 10px;
    }
    .header {
        padding-right: 10px;
    }
    #log img{
        height: 20px;
        margin-top: 20%;
        width: 27px;
        margin-top: 50%;
        /* object-fit: cover; */
        
    }
    .logtxt{
        letter-spacing: -1.4px;
        color: #fff;
        font-size:18px;
    }
    #logo{
        border: 0px solid green;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 12%;
    }
    #logo i{
        margin-right:8%;
    }
    #search{
        margin-left: 80px;
    }
    /* #search form{
        position: relative;
        width: 100%;
    } */
    #search input{
        height: 34px;
        width: 50%;
        color: #fff;
        font-size: 1rem;
    }
    .search{
        min-width:20px;
        height: 34px;
        display: flex;
    }
    .mic{
        height: 34px;
        min-width: 20px;
        border-radius: 50%;
    }
    #bell i{
        font-size: 1.8rem;
        margin-left: 8px;
    }
    
    
}
@media (max-width:420px){
    #content{
        grid-template-columns:400px;
    }
    #content {
        grid-gap: 10px;
        padding: 10px 10px;
    }
    #log img{
        height: 20px;
        margin-top: 20%;
        width: 27px;
        margin-top: 50%;
        /* object-fit: cover; */
        
    }
    .logtxt{
        letter-spacing: -1.4px;
        color: #fff;
        font-size:18px;
    }
    #logo{
        border: 0px solid green;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 12%;
    }
    #logo i{
        margin-right:8%;
    }
    #search{
        margin-left: 60px;
    }
    /* #search form{
        position: relative;
        width: 100%;
    } */
    #search input{
        height: 34px;
        width: 38%;
        color: #fff;
        font-size: 1rem;
    }
    .search{
        min-width:10px;
        height: 34px;
        display: flex;
    }
    .mic{
        height: 34px;
        min-width: 20px;
        border-radius: 50%;
    }
    #bell{
        margin-right:-40px;
    }
    #bell i{
        font-size: 1.8rem;
        margin-left:0px;
    }
    
    
}



/* #logo{
    border: 0px solid red;
    width: 30%;
    margin-left: 1%;
    display: flex;
    padding-top: .5%;padding-bottom: .5%;
}
#menu{
    border: 0px solid green;
    width:8%;height:55%;
    justify-content: center;
    align-self: center;
}
#log{
    width: 23%;
    margin-left: 4%;
}
#container{   
    width:100%;height:auto;
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(4,20%);
    gap: 4%;
    margin: auto;
    margin-top: 0.1%;
    padding-left:5%;
    background-color:#202020;padding-top:4%;
}
#container img{
    width: 100%;
}
#container>div{
    padding:5px;
    background-color: #ababab;
    box-shadow: rgba(134, 133, 133, 0.35) 0px 5px 15px;
}
#search{
    border: 0px solid green;
   align-items: center;
   width:40%;height: auto;
   display: flex;
   justify-content: center;
}
#search input{
    width:70%;height: 58%;
    justify-content: center;
    font-size: 1.2em;
    padding-left: 1%;
    background-color: #121212;
    border: none;
    color: white;
}
#search button{
    width: 11%;
    height: 57%;
    margin-left: .5%;
    font-size: 1.1em;
}
#bell{
    border: 0px solid red;
    width: 30%;
    display: flex;
    justify-content: end;
    padding-top: .5%;
    padding-bottom: .5%;
    margin-right: 1%;
}
#bell>img{
    width: 11%;
    margin-left: 1%;
}
#p{
    border-radius: 46px;
} */
